In [1]:
import numpy as np
import pandas as pd

In [6]:
data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': [
        'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
        'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'
    ],
    'Sales': np.random.randint(100, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    'Rep': [
        'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary',
        'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice'
    ]
}

In [7]:
df = pd.DataFrame(data)

In [13]:
df["Month"] = df["Date"].dt.month_name()

In [14]:
df["Quarter"] = "Q" + df["Date"].dt.quarter.astype(str)

In [15]:
df

         Date Product Region  Sales  Units    Rep    Month Quarter
0  2023-01-01       A   East    268     18   John  January      Q1
1  2023-01-02       B   West    331     51   Mary  January      Q1
2  2023-01-03       C  North    640     97    Bob  January      Q1
3  2023-01-04       D  South    172     45  Alice  January      Q1
4  2023-01-05       A   East    615     77   John  January      Q1
5  2023-01-06       B   West    197     88   Mary  January      Q1
6  2023-01-07       C  North    108     27    Bob  January      Q1
7  2023-01-08       D  South    436     54  Alice  January      Q1
8  2023-01-09       A   East    780     59   John  January      Q1
9  2023-01-10       B   West    689     61   Mary  January      Q1
10 2023-01-11       C  North    472     28    Bob  January      Q1
11 2023-01-12       D  South    307     59  Alice  January      Q1
12 2023-01-13       A   East    467     99   John  January      Q1
13 2023-01-14       B   West    337     60   Mary  January      Q1
14 2023-01-15       C  North    679     79    Bob  January      Q1
15 2023-01-16       D  South    499     45  Alice  January      Q1
16 2023-01-17       A   East    503     54   John  January      Q1
17 2023-01-18       B   West    571     31   Mary  January      Q1
18 2023-01-19       C  North    592     97    Bob  January      Q1
19 2023-01-20       D  South    351     60  Alice  January      Q1

In [16]:
pd.pivot_table(df,values="Sales",index = "Region",columns="Product",aggfunc="median")

Product      A      B      C      D
Region
East     503.0    NaN    NaN    NaN
North      NaN    NaN  592.0    NaN
South      NaN    NaN    NaN  351.0
West       NaN  337.0    NaN    NaN

In [17]:
pd.pivot_table(df,values=["Sales","Units"],index = "Region",columns="Product",aggfunc="median")

         Sales                      Units
Product      A      B      C      D     A     B     C     D
Region
East     503.0    NaN    NaN    NaN  59.0   NaN   NaN   NaN
North      NaN    NaN  592.0    NaN   NaN   NaN  79.0   NaN
South      NaN    NaN    NaN  351.0   NaN   NaN   NaN  54.0
West       NaN  337.0    NaN    NaN   NaN  60.0   NaN   NaN

In [18]:
pd.pivot_table(df,values=["Quarter","Units"],index = "Region",columns="Product",aggfunc="median")

TypeError: agg function failed [how->median,dtype->object]

CROSS TABS

In [20]:
pd.crosstab(df["Region"],df["Product"])

Product  A  B  C  D
Region
East     5  0  0  0
North    0  0  5  0
South    0  0  0  5
West     0  5  0  0